name: Win64

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Create all projects
      run: .\src\devtools\bin\vpc.exe /hl2mp /define:SOURCESDK +game /mksln game.sln /f

    - name: Setup MSBuild Environment
      uses: microsoft/setup-msbuild@v1
      with:
        vs-version: '17.0'  # Targets VS 2022

    - name: Build Solution
      run: |
        msbuild game.sln /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143
